<% if flash[:errors] %>
	<ul>
	<% flash[:errors].each do |err| %>
		<li><%= err %></li>
	<% end %>
	</ul>
<% end %>

<% if flash[:info] %>
	<ul>
	<% flash[:info].each do |err| %>
		<li><%= err %></li>
	<% end %>
	</ul>
<% end %>
